body {
    background: #FBFBF8;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #333;
}

.black-background {
    background-color: #000;
    -webkit-transition: background-color 200ms ease 600ms;
    -moz-transition: background-color 200ms ease 600ms;
    -o-transition: background-color 200ms ease 600ms;
    -ms-transition: background-color 200ms ease 600ms;
    transition: background-color 200ms ease 600ms;
}

video { display: none; }

#container {

}

#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

#canvas-source {
    width: 100%;
}

#canvas-source, #canvas-highlights {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

#canvas-blended {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

#score {
    position: absolute;
    right: 0;
    padding: 25px;
    color: white;
    font: bold 50px Arial;
}

#hotSpots {
    position: relative;
    display: none;
    height: 100%;
}

#hotSpots > * {
    position: absolute;
    -moz-transition: all 80ms linear;
    -webkit-transition: all 80ms linear;
    transition: all 80ms linear;
}

#ball {
    width: 10%;
    height: 13%;
    top: 50%;
    margin: -6.5% 0 0 -5%;

    background: yellow;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    border: 50px solid yellow;

    /*-webkit-animation: movingcircle 5s infinite;*/
    -webkit-animation: movingcircle 5s infinite;
}

@-webkit-keyframes movingcircle {
    0%      { left: 105%; }
    50%     { left:  -15%; }
    100%    { left: 105%; }
}