@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #333;
}

video { display: none; }

#overlay,
#content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

#overlay {
    z-index: 1;
}

#overlay > h1 {
    position: absolute;
    width: 800px;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -400px;
    font: 75px Arial;
    color: #FFF;
    text-align: center;
}

#input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}

#detection {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 1;
}

#hotSpots {
    position: relative;
    display: block;
    height: 100%;
}

/* ############################################################ */

#content {
    background: black;
}

#ball {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    margin: -50px 0 0 -50px;

    background: white;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: movingcircle 5s infinite;
}

@-webkit-keyframes movingcircle {
    0%   { left: 104%;  }
    50%  { left:  -4%; }
    100% { left: 104%;  }
}