/* ####################################################
// ########          Prototype 2 game          ########
// ####################################################
// ########            Game objects            ########
// ##################################################*/

#ball1,
#ball2,
#ball3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 80%;
    margin: -50px 0 0 -50px;

    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;

    text-align: center;
    vertical-align: middle;
    line-height: 100px;

    background: blue;

    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;

    -webkit-animation: movingcircle 15s infinite;
}

#ball2 {
    top: 50%;

    background: green;

    -webkit-animation: movingcircle 10s infinite;
}

#ball3 {
    top: 20%;

    background: red;

    -webkit-animation: movingcircle 5s infinite;
}


/* ####################################################
// ########             Game scene             ########
// ##################################################*/

#scene > #bg {

}

/* ####################################################
// ########          Game animations           ########
// ##################################################*/

@-webkit-keyframes movingcircle {
    0%   { left: 105%;  }
    50%  { left:  -5%; }
    100% { left: 105%;  }
}